<div class="container-fluid" id="dashboard">
    <h2 class="display-4 text-center">Your Favorite Wing Spots</h2>

<p>  {{restaurant.name}}</p>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src='public/images/tandoori.jpg' alt="">
        <div class="card-body text-center">
            <h4 class="card-title">Tandoori Pizza & Wing Co.</h4>
            <p class="card-text">Featuring our award-winning wings marinated for 48 hours in ginger, garlic, and spices tossed in a Sweet and Spicy Mango Chili
            Sauce</p>
            <a href="" class="btn button stretched-link">Order Now</a>
        </div>
    </div>
    <div class="card ">
        <img class="card-img-top" src="img_avatar1.png" alt="">
        <div class="card-body text-center">
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="img_avatar1.png" alt="">
        <div class="card-body text-center">
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="img_avatar1.png" alt="">
        <div class="card-body text-center">
            <p class="card-text"></p>
        </div>
    </div>
</div>
{{!-- <p>{{restuarants.name}}</p>
<div class="card">
    <a href="/restaurant{{id}}">
        <header>
            {{name}}
        </header>
        <div class="card-body">
            <p>In {{neighborhood}}</p>
        </div> --}}
    {{!-- </a> --}}
</div>
</div>
</div>
